
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<br />
<h2  class="text-center my-4" style="background-color: #f3e5f5; color: #6a1b9a; ">Admin Ekleme Sayfası</h2>
<form method="post">
    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Şifreniz" />
    <br />
    <button class="btn btn-info">KAYDET</button>
</form>
