@model MvcCv.Models.Entity.TblSertifikalarım

@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2  class="text-center my-4" style="background-color: #f3e5f5; color: #6a1b9a; "> Sertifika Düzenleme Sayfası</h2>
<form method="post">

    @Html.Label("Sertifika Açıklaması")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" >GÜNCELLE</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class ="btn btn-danger">SİL</a>

</form>


